# Node.js (client)
client/reunite-face/node_modules/
client/reunite-face/.next/

# Python virtualenv (server)
/server/reunite-face/
server/.venv/
server/env/
server/**/__pycache__/
server/*.py[cod]
server/*.egg-info/
server/config.ini
config.sample.ini
# Toàn cục
.DS_Store
.env
