# Node.js (client)
client/*
# Python virtualenv (server)
/server/reunite-face/
server/.venv/
server/env/
server/__pycache__/*
server/**/__pycache__/*
server/*.py[cod]
server/*.egg-info/
server/config.ini
server/.env
# Toàn cục
.DS_Store
.env
